<h1>Test blog</h1>
<h3>The purpose of this app is to demonstrate the integration with Selenium automated testing.</h3>

<%= link_to 'New article', new_article_path %>
<%= link_to 'All articles', articles_path %>
